body{
    background-color: #F3EAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.37);
}
#container{
    display: flex;
    background-color: white;
    border-radius: 10px;
}
#container img{
    width: 300px;
    border-radius: 10px 0 0 10px;
}
#container h1{
    margin: 0;
    font-weight: 450;
}
#product-description{
    width: 300px;
}